*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body,html{
    margin: 0px;
    width: 100%;
    height: 100%;
}

.header{
    padding: 10px 30px;
    background-color: #f1f1f1;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: flex-start;
}

.selector{
    display: flex;
    align-items: center;    
}

.first.selector{
    flex-grow: 1;
    margin-left: 15px;
}

.selector a{
    display: flex;
    align-items: center;
}

.selector ul{
    display: flex;
    padding-left: 0px;
    height: 100%;
    width: 100%;
}

.selector ul li{
    display: flex;
    padding: 0px 10px;
    list-style-type: none;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 102px;
}

.findastore{
    margin-right: 30px;
}

.signin{
    margin-right: 15px;
}

button{
    padding: 5px 10px;
    border-radius: 14px;
    color: black;
    border: 1px solid;
}

.flag{
    height: 45px;
    background: #1e3932;
}

.flag a{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15%;
    font-weight: bold;
    color: white;
}

.heroimage{
    background-image: url("imgs/starbucksclonestar.jpg");
    max-width: 100%;
    height: 55%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.herotext{
    position: absolute;
    top: 15%;
    left: 5%;
}

.getstart{
    margin-top: 100px;
}

.getstart img{
    height: 50px;
    width: 50px;
}

.getheader{
    text-align: center;
}

.getbody{
    display: flex;
    text-align: center;
    margin: 0px 5vw;
    margin-bottom: 128px;
    padding-top: 48px;
    justify-content: space-between;
}

.getcontent{
    width: 33.3333%;
}

.one.getcontent{
    margin-right: 25px;
}

.two.getcontent{
    margin-right: 25px;
}