*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body,html{
    margin: 0px;
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

.header{
    padding: 10px 30px;
    background-color: #f1f8f6;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: flex-start;
}

.selector{
    display: flex;
    align-items: center;    
}

.first.selector{
    flex-grow: 1;
    margin-left: 15px;
}

.selector a{
    display: flex;
    align-items: center;
}

.selector ul{
    display: flex;
    padding-left: 0px;
    height: 100%;
    width: 100%;
}

.selector ul li{
    display: flex;
    padding: 0px 10px;
    list-style-type: none;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 102px;
}

.findastore{
    margin-right: 30px;
}

.signin{
    margin-right: 15px;
}

header button{
    padding: 5px 10px;
    border-radius: 14px;
    color: black;
    border: 1px solid;
}

.flag{
    height: 45px;
    background: #1e3932;
}

.flag a{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15%;
    font-weight: bold;
    color: white;
}

.heroimage{
    background-image: url("imgs/starbucksclonestar.jpg");
    max-width: 100%;
    height: 55%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.herotext{
    position: absolute;
    top: 15%;
    left: 5%;
}

.getstart{
    margin-top: 100px;
}

.getstart img{
    height: 50px;
    width: 50px;
}

.getheader{
    text-align: center;
}

.getbody{
    display: flex;
    text-align: center;
    margin: 0px 5vw;
    margin-bottom: 128px;
    padding-top: 48px;
    justify-content: space-between;
}

.getcontent{
    width: 33.3333%;
}

.one.getcontent{
    margin-right: 25px;
}

.two.getcontent{
    margin-right: 25px;
}

.tablist{
    overflow: hidden;
}

.faves-top, .tablist{
    text-align: center;
    background: #f1f8f6;
}

.tablist button{
    border: none;
    background-color: #f1f8f6;
    border-radius: 0px;
}

.tablist .tabpoints .active{
    background: forestgreen;
}

.faves-top h2{
    margin-bottom: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.drink{
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    background: #d4e9e2;
}

.drinktext{
    max-width: 375px;
    padding: 0rem 1.6rem;
}

.drinkimg img{
    max-width: 375px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 4.8rem;
}

.extras{
    text-align: center;
    margin: 150px 60px;
    margin-bottom: 150px;
}

.widgets{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.widgetcontent{
    padding: 0px 15px;
}

.modalContent{
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.mask{
    position: fixed;
    height: 100%;
    inset: 0;
    background: #000;
    opacity: .38;   
    z-index: 1;
}

.modaltab{
    position: relative;
    background: #fff;
    border-radius: 8px;
    max-width: 400px;
    max-height: 100%;
    align-self: center;
    z-index: 2;
}

.close{
    position: absolute;
    display: flex;
    right: 4px;
    top: 4px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
}

.modallist{
    height: 100%;
    
}

.modalCard{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    
    text-align: center;
}

.modalimage{
    margin-top: 20px;
}

.modaltext h2{
    margin-top: 0;
}

.modaltext p{
    line-height: 23px;
    margin-right: 10px;
    margin-left: 10px;
}

.sliders{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.carousel {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: #d9d9d9;
    border-width:0 ;
    margin-left: 8px;
    margin-right: 8px;
}

.ok{
    width: 30px;
    height: 30px;
    background: white;
    color: rgb(93, 89, 89);
    font-size: 30px;
    margin: auto;
    display: flex;
    align-items: center;
}

.ok:hover{
    background:rgba(0,0,0,.10);
    fill: transparent;
}

.paylineheader{
    text-align: center;
}

.payline{
    display: flex;
    text-align: left;
    margin-left: 100px;
    margin-right: 300px;
}

.firstcolmn{
    width: 16.66666%;
}

.secondcolmn, .thirdcolmn{
    width: 33.3333%;
}

.carousel.round.current-slide{
    background: rgba(0,0,0,.70);
}

.is-hidden{display: none;}